<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<br>
	<p th:text="${titulo}"></p>

	<br>

	<tbody>
		<p th:if="${result}" th:text="${mensaje}"></p>

		<div>
			<form th:action="@{/formcuenta" th:objetc="${cuenta}" method="post">
				<table>
					<tr>

						<td>Nombre</td>
						<td><input type="text" th:field="*{nombre}" /></td>
					</tr>


					<tr>
						<td>Correo electronico</td>
						<td><input type="text" th:field="*{correo}"></td>
					</tr>
					
					<tr>
						<td>Saldo actual</td>
						<td><input type="text" th:field="*{saldoactual}" /></td>
					</tr>

					<tr>
						<td>Fecha de creacion (yyyy-MM-dd)</td>
						<td><input type="text" th:field="*{creacion}" /></td>
					</tr>


				</table>
				<br> <input type="submit" value="Registrar cuenta" />
			</form>
		</div>
	</tbody>
	<hr>
	<a th:href="@{/lista-cuenta}">Volver...</a>
</body>
</html>